{% load static %}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHAT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>

mark.red {
    color:#ff0000;
    background: none;
}
span.tab-space {padding-left:15em;}

.floatRight { 
    float: right;
}
</style>

<body>
    <nav class="navbar navbar-light fixed-top">
        <h3 style="letter-spacing : 2px;"><a class="navbar-brand ml-5 mt-3" href="/">T&P CHAT LOG</a></h3>
        <form class="form-inline">
                <a href="{% url 'home' %}"><button class="btn btn-outline-danger pull-right mr-3 mb-3 mt-3" type="button">HOME</button></a>
                <a href="{% url 'logout' %}"><button class="btn btn-outline-danger pull-right mr-3 mb-3 mt-3" type="button">LOGOUT</button></a>
        </form>
    </nav>
    <br>
    <section class="section">
        <div class="container hero-body">
            {% for data in dataset %}
            <article class="media content-section">
                <div class="media-body">
                    <blockquote class="blockquote text-right">
                            <p class="mb-0 text-left font-weight-light">
                                {%if data.user.id == request.user.id%}
                                <mark class="red">
                                    {{data.user}} 
                                </mark>
                                {%else%}
                                <mark class="black">
                                        {{data.user}}
                                </mark>
                                {%endif%}
                                : {{ data.message|linebreaksbr }}
                            </p>
                            <footer class="blockquote-footer text-success"><strong class="text-success"></strong><cite title="Source Title text-secondary">{{data.timeStamp}}</cite></footer>
                    </blockquote>
                </div>
            </article>
            <hr>
            {% endfor %}
        </div>
        <div class="fixed-bottom bg-dark mb-3 pt-2 pb-2">
            <div class="floatRight">
                <form class="form-inline mr-3" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" value="SUBMIT" class="btn btn-primary mr-5 ml-5 btn pull-right">SUBMIT</button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>

